streamlit
langchain
pymupdf
sentence-transformers
langchain-google-genai
google-generativeai
langchain-community
langchain-core
langchain-pinecone
langchain-huggingface
langchain-text-splitters
pinecone>=4.0.0
